<!DOCTYPE html>
<html>
<head>
	<title>Buy and Sell Organs here!</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans|Yanone+Kaffeesatz" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<%= url("css/normalize.css")%>">
<link rel="stylesheet" type="text/css" href="<%= url("css/skeleton.css")%>">
<link rel="stylesheet" type="text/css" href="<%= url("css/styles.css")%>">
</head>
<body>
<div id = "bar">
	<h1 id = title><%= @title %></h1>
	<nav>
		<ul>
			<li>
				<a href = "home">Home</a>
			</li>
			<li>
				<a href = "about_us">About Us</a>
			</li>
			<li>
				<a href = "gallary">Gallary</a>
			</li>
			<li>
				<a href = "contact_us">Contact Us</a>
			</li>
		</ul>
	</nav>
</div>

    <%= yield %>
<script type="text/javascript" src = "<%= url("script.js")%>"></script>
</body>
</html>